# Ignorar diretórios de build
/target/
/out/
dist/

# Ignorar dependências locais
/.m2/
node_modules/
frontend/*/node_modules/

# Ignorar arquivos de configuração do IDE
.idea/
*.iml
*.ipr
*.iws

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos do sistema operacional
*.swp
*.swo

# Ignorar a pasta de configurações de banco de dados H2
*.h2.db
*.h2.lock

# Ignorar o diretório de teste de cobertura de código
/coverage/

# Ignorar arquivos gerados pelo Spring Boot DevTools
spring-boot-devtools/

# Pastas de referência visual e inspiração
inspira/
frontend/lumeric-frontend/inspiracao/

# Frontend administrativo será publicado em outro repositório
/frontend/admin-frontend/
